* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

:root {
    --background-color: #264653;
    --head-foot-color: #f4a261;
    --secondary-color: #E9C46A;
    --tertiary-color: #2A9D8F;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--secondary-color);
}