* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #264653;
    --head-foot-color: #f4a261;
    --secondary-color: #E9C46A;
    --tertiary-color: #2A9D8F;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    background-color: var(--background-color);
}

p {
    line-height: 30px;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: var(--head-foot-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

section {
    padding: 60px 85px;
}

footer {
    background-color: var(--head-foot-color);
    color: var(--background-color);
    width: 100%;
    padding: 30px 25px;
    text-align: center;
}

.link-logos {
    display: flex;
    flex: 1 12%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.logos img {
    max-width: 28px;
    margin-top: 5px;
}

.git-linked-margin {
    margin-bottom: 3px;
}

#ad {
    max-width: 45px;
    position: relative;
    left: -6px;
}

.center-div {
    margin: -60px auto;
}

.welcome-pic {
    display: flex;
    justify-content: center;
}

.welcome-pic img {
    width: 40%;
}

/* .square {
    width: 508px;
    height: 422.56px;
    background-color: var(--secondary-color);
    position: relative;
    left: -500px;
}

.stack-top {
    z-index: 9;
    margin: 20px;
}
 */

.welcome-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.welcome-name h1 {
    font-weight: normal;
    font-size: 50px;
}

.break {
flex-basis: 100%;
height: 0;
}

#welcome-color {
    color: var(--tertiary-color);
}

.about-me h2 {
    margin-bottom: 20px;
}

.about-me li {
    list-style: none;
    margin-bottom: 15px;
}

.about-me-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.description-left {
    width: 50%;
}

.description-right-list {
    display: flex;
}

.description-right-list ul {
    flex: 50%
}

.work-projects img {
    width: 60%;
    margin-bottom: 30px;
}

.first-project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.first-project img {
    width: 100%;
}

.project-2 {
    display: flex;
    flex-wrap: nowrap;
}

.project-3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.project-3 img {
    width: 80%;
    margin-left: 180px;
}

.align-left {
    margin-top: 140px;
}

.align-right {
    margin-left: -500px;
    margin-top: 130px;
}



